div#todo_form
  form.bp(method="POST", action="/todo")
    fieldset
      legend Enter Todo Item
      p
        label(for="todo[name]") Name
        br
        input(type="textbox", name="todo[name]", size=40)
      p
        label(for="todo[desc]") Description
        br
        textarea(name="todo[desc]", rows=5, columns=20)
      p
        input(type="submit")

// See http://keith-wood.name/countdownRef.html
div(style="display: none;")#pomodoro
  p Pomodoro Timer Goes Here
  h1#pomodoro_timer 25:00
  h1(style="display: none;")#interrupt_timer 00:15
  button#pomodoro_start Start
  button(disabled=true)#pomodoro_interrupt Interrupt
  button(disabled=true)#pomodoro_resume Resume
  button#test_sound Test Sound

div(style="display: none;")#alarm
  audio#audiofile(src="/audio/alarm-clock-1.wav", preload="auto")
    Your browser does not support the audio element.

