!!! 5
html(lang='en')
  head
    meta(charset="utf-8")
    title Pomotodo
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="/stylesheets/screen.css", rel="stylesheet", media="screen, projection", type="text/css")
    link(href="/stylesheets/print.css", rel="stylesheet", media="print", type="text/css")
    /if lt IE 8
        link(rel="stylesheet", href="/css/ie.css", type="text/css", media="screen, projection")
    link(href="/javascripts/countdown/jquery.countdown.css", rel="stylesheet", media="screen, project", type="text/css")
  body.bp.two-col.showgrid
    div#container
      div#header
        h1 Pomotodo
      div#sidebar
        ul#todo_list
          - todo_list.forEach(function(item) {
            li(id=item[0])= item[1]['name']
          - })

      div#content!= body
      div#footer A footer. Blah blah copyright dcheah blah blah 2011

      script(type="text/javascript", src="/javascripts/jquery-1.5.1.js")
      script(type="text/javascript", src="/javascripts/countdown/jquery.countdown.js")
      script(type="text/javascript", src="/javascripts/client.js")
