!!! 5
html(lang="en")
    head
        title
            #{paste.name} (#{paste.lang})
        meta(charset="utf-8")
        link(href="/css/screen.css", rel="stylesheet", media="screen, projection", type="text/css")
        link(href="/css/print.css", rel="stylesheet", media="print", type="text/css")
        /if lt IE 8
            link(rel="stylesheet", href="/css/ie.css", type="text/css", media="screen, projection")
        link(rel="stylesheet", href="/css/syntax.css")
    body
        .container
            .span-12.last
                a(href="/") Home
                div#code
                    !{paste.pygmentized}
