!!! 5
html(lang="en")
    head
        title= paste.name
        link(rel="stylesheet", href="/css/syntax.css")
    body
        p #{paste.name} (#{paste.lang})
        hr
        div#code
            !{pygment_output}
